<!DOCTYPE html>
<html>
  <head>
    <title>Selezione query</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var queries = [
        "INSERT INTO `Videogiochi_e_software`.`Categoria` (`Nome`, `derivazione`) VALUES ($1, $2); \n INSERT INTO `Videogiochi_e_software`.`Tipologia` (`Nome_prodotto`, `Anno`, `Nome_Categoria`) VALUES ($3, $4, $1);",
        "INSERT INTO `Videogiochi_e_software`.`Compagnia` (`Nome`, `Fondazione`, `Nazionalita`) VALUES ($1, $2, $3);",
        "INSERT INTO `Videogiochi_e_software`.`Console` (`Nome`, `Data_Uscita`, `Supporto`, `Compagnia`, `Generazione`) VALUES ($1, $2, $3, $4, $5);",
        "INSERT INTO `Videogiochi_e_software`.`Designer` (`Nome`, `Cognome`, `Nazionalita`) VALUES ($1, $2, $3);",
        "INSERT INTO `Videogiochi_e_software`.`Disponibilita` (`Nome_prodotto`, `Anno`, `Nome_store`, `Processore`, `Scheda_Grafica`, `Os`) VALUES ($1, $2, $3, $4, $5, $6);",
        "INSERT INTO `Videogiochi_e_software`.`Riproducibilita` (`Nome_Gioco`, `Anno`, `Nome_Console`) VALUES ($1, $2, $3);",
        "INSERT INTO `Videogiochi_e_software`.`Prodotto` (`Nome`, `Anno`, `Prezzo`, `Descrizione`, `Produttore`, `Sviluppatore`, `Gioco`) VALUES ($1, $2, $3, $4, $5, $6, '0'); \n INSERT INTO `Videogiochi_e_software`.`Tipologia` (`Nome_prodotto`, `Anno`, `Nome_Categoria`) VALUES ($1, $2, $7);",
        "INSERT INTO `Videogiochi_e_software`.`Prodotto` (`Nome`, `Anno`, `Prezzo`, `Descrizione`, `Produttore`, `Sviluppatore`, `Gioco`, `Saga`) VALUES ($1, $2, $3, $4, $5, $6, '1', $7); \n INSERT INTO `Videogiochi_e_software`.`Progettazione` (`Id_designer`, `Nome`, `Anno`) VALUES ($8, $1, $2); \n INSERT INTO `Videogiochi_e_software`.`Tipologia` (`Nome_prodotto`, `Anno`, `Nome_Categoria`) VALUES ($1, $2, $9);",
        "INSERT INTO `Videogiochi_e_software`.`Recensione` (`Nome`, `Anno`, `Utente`, `Voto`) VALUES ($1, $2, $3, $4);",
        "INSERT INTO `Videogiochi_e_software`.`Saga` (`Nome`, `Descrizione`, `Stato`) VALUES ($1, $2, $3); \n UPDATE `Videogiochi_e_software`.`Prodotto` SET `Saga` = $1 WHERE (`Nome` = $4) and (`Anno` = $5);",
        "INSERT INTO `Videogiochi_e_software`.`Store_PC` (`Nome`, `Compagnia`) VALUES ($1, $2);",
        "INSERT INTO `Videogiochi_e_software`.`Utente` (`Nickname`) VALUES ($1);",
        "SELECT Nome FROM Videogiochi_e_software.Categoria;",
        "SELECT Nome_Prodotto AS Nome, Anno, Valutazione \n FROM Videogiochi_e_software.Categoria AS Cat NATURAL JOIN ( \n SELECT Tipo.Nome_Categoria AS Nome, Prod.Nome AS Nome_prodotto, Prod.Anno AS ANNO, Prod.Valutazione AS Valutazione \n FROM Videogiochi_e_software.Tipologia AS Tipo INNER JOIN Videogiochi_e_software.ProdRecen AS Prod ON Tipo.Nome_prodotto = Prod.Nome AND Tipo.Anno = Prod.Anno \n WHERE Prod.Gioco IS TRUE) AS Giochi \n WHERE Nome=$1;",
        "SELECT * FROM Videogiochi_e_software.Compagnia;",
        "SELECT * FROM Videogiochi_e_software.Console;",
        "SELECT * FROM Videogiochi_e_software.Designer;",
        "SELECT Giochi.Nome AS Nome, Giochi.Anno AS Anno, Giochi.Valutazione AS Valutazione \n FROM Videogiochi_e_software.Riproducibilita AS Rip INNER JOIN Videogiochi_e_software.ProdRecen AS Giochi ON Rip.Nome_Gioco = Giochi.Nome AND Rip.Anno = Giochi.Anno \n WHERE Giochi.Gioco IS TRUE AND Rip.Nome_Console = $1 \n ORDER BY Giochi.Valutazione DESC;",
        "SELECT Giochi.Nome AS Nome, Giochi.Anno AS Anno, Giochi.Valutazione AS Valutazione \n FROM Videogiochi_e_software.Disponibilita AS Disp INNER JOIN Videogiochi_e_software.ProdRecen AS Giochi ON Disp.Nome_prodotto = Giochi.Nome AND Disp.Anno = Giochi.Anno \n WHERE Giochi.Gioco IS TRUE AND Disp.Nome_Store= $1;",
        "SELECT Nome, Anno, Prezzo Descrizione, Produttore, Sviluppatore, Valutazione  \n FROM Videogiochi_e_software.ProdRecen;",
        "SELECT Nome, Anno, Prezzo Descrizione, Produttore, Sviluppatore, Saga, Valutazione \n FROM Videogiochi_e_software.ProdRecen \n WHERE Gioco IS TRUE \n ORDER BY Valutazione DESC;",
        "SELECT Nome, Anno, Prezzo Descrizione, Produttore, Sviluppatore, Saga, Valutazione \n FROM Videogiochi_e_software.ProdRecen \n WHERE Gioco IS FALSE;",
        "SELECT Des.Nome AS Nome, Des.Cognome AS Cognome, Des.Nazionalita AS Nazionalita \n FROM Videogiochi_e_software.Designer AS Des INNER JOIN ( \n SELECT id_designer \n FROM Videogiochi_e_software.Progettazione NATURAL JOIN Videogiochi_e_software.Prodotto \n WHERE Nome=$1 AND Anno=$2) AS Id ON Des.Id = Id.Id_designer;",
        "SELECT * FROM Videogiochi_e_software.Saga;",
        "SELECT P.Nome AS Nome, P.Anno AS Anno, P.Prezzo AS Prezzo, P.Descrizione AS Descrizione, P.Valutazione as Valutazione \n FROM Videogiochi_e_software.ProdRecen AS P INNER JOIN Videogiochi_e_software.Saga AS S ON P.Saga = S.Nome \n WHERE S.Nome=$1 AND P.Gioco IS TRUE;",
        "SELECT DISTINCT C.Nome AS Compagnie \n FROM Videogiochi_e_software.Compagnia AS C INNER JOIN Videogiochi_e_software.Prodotto AS P ON C.Nome = P.Produttore;",
        "SELECT DISTINCT C.Nome AS Compagnie \n FROM Videogiochi_e_software.Compagnia AS C INNER JOIN Videogiochi_e_software.Prodotto AS P ON C.Nome = P.Sviluppatore;",
        "SELECT S.Nome AS Store \n FROM Videogiochi_e_software.Compagnia AS C INNER JOIN Videogiochi_e_software.Store_PC AS S ON C.Nome = S.Compagnia \n WHERE C.Nome = $1;",
        "SELECT Con.Nome AS Console \n FROM Videogiochi_e_software.Compagnia AS C INNER JOIN Videogiochi_e_software.Console AS Con ON C.Nome = Con.Compagnia \n WHERE C.Nome = $1;",
        "SELECT Nome AS Gioco, Anno, Voto \n FROM Videogiochi_e_software.Recensione \n WHERE Utente = $1;",
        "UPDATE `Videogiochi_e_software`.`Recensione` SET `Voto` = $1 WHERE (`Nome` = $2) and (`Anno` = $3) and (`Utente` = $4);",
        "UPDATE `Videogiochi_e_software`.`Prodotto` SET `Prezzo` = $1 WHERE (`Nome` = $2) and (`Anno` = $3);",
        "UPDATE `Videogiochi_e_software`.`Prodotto` SET `Saga` = $1 WHERE (`Nome` = $2) and (`Anno` = $3);",
        "WITH RECURSIVE Principale(Derivato, Derivante) AS \n (	SELECT Nome, derivazione \n FROM Videogiochi_e_software.Categoria \n UNION ALL \n SELECT Nome, Derivante \n FROM Principale, Videogiochi_e_software.Categoria \n WHERE Derivato = derivazione \n ) \n SELECT Derivato as Categorie \n FROM Principale \n WHERE Derivante = $1;",
        "SELECT DISTINCT Compagnia.Nome AS Nome, Compagnia.Fondazione AS Fondazione, Compagnia.Nazionalita AS Nazionalita \n FROM Designer, Progettazione,  \n Prodotto, Compagnia \n WHERE Designer.Id = Progettazione.Id_designer AND Progettazione.Nome = Prodotto.Nome AND Progettazione.Anno = Prodotto.Anno AND Prodotto.Produttore = Compagnia.Nome AND Prodotto.Sviluppatore = Compagnia.Nome AND Designer.Id = $1;",
        "SELECT Generazione, MIN(Data_Uscita) AS Inizio \n FROM Videogiochi_e_software.Console \n WHERE Supporto IS TRUE \n GROUP BY Generazione;",
        "SELECT Prod.Nome AS Nome, Prod.Prezzo AS Prezzo \n FROM Videogiochi_e_software.Prodotto AS Prod INNER JOIN Videogiochi_e_software.Compagnia AS Comp ON Prod.Produttore = Comp.Nome \n WHERE Prod.Gioco IS FALSE AND Comp.Nome=$1 \n ORDER BY Prod.Prezzo;",
        "SELECT DISTINCT Prod.Sviluppatore AS Sviluppatori \n ROM Videogiochi_e_software.Compagnia AS Comp INNER JOIN Videogiochi_e_software.Prodotto AS Prod ON Comp.Nome = Prod.Produttore \n WHERE Comp.Nome = $1 AND Prod.Gioco IS TRUE;",
        "INSERT INTO `Videogiochi_e_software`.`Tipologia` (`Nome_prodotto`, `Anno`, `Nome_Categoria`) VALUES ($1, $2, $3);"
        ];
        $(document).ready(()=>{
            //$("#query").html(queries[$("#select").val()]);
            $("#select").on("change",()=>{
                let index = $("#select").val();
                $(".queryform").hide();
                $("#"+index).show();
                //$("#query").val(queries[$("#select").val()]);
            });
            $("#send").click((e)=>{
                let index = $("#select").val();
                let query = queries[index - 1];
                let inputs = $("#"+index+" form").serializeArray();
                if(inputs.length && inputs.length>0){
                    for(let i=0; i<inputs.length; i++){ 
                        query = query.replaceAll("$"+inputs[i].name, inputs[i].value==""?"NULL":"'"+inputs[i].value+"'");
                    }
                }
                let prova = query.split(";")                
                if(!confirm("Stai per eseguire la query: \n"+query)){
                    e.preventDefault()
                }
                $("#stampoqui").val(query);
            })

            $(".queryform").hide();
            $("#"+$("#select").val()).show();
        });
    </script>
</head>
  <body>
    <div class="d-flex flex-column mx-auto">
        <div class="col-md-5 mx-auto">
            <select class="form-select mx-auto" id="select">
                <% for(let i = 1; i<39; i++){ %>
                <option value="<%=i%>"><%=i%></option>
                <% } %>
            </select>
        </div>
        <div class="queryform mx-auto" id="1">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Categoria">
                <input type="text" name="2" placeholder="Derivazione Categoria">
                <input type="text" name="3" placeholder="Nome Prodotto">
                <input type="number" name="4" placeholder="Anno Prodotto">
            </form>
        </div>
        <div class="queryform mx-auto" id="2">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Compagnia">
                <input type="number" name="2" placeholder="Fondazione Compagnia">
                <input type="text" name="3" placeholder="Nazionalità Compagnia">
            </form>
        </div>
        <div class="queryform mx-auto" id="3">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Console">
                <input type="text" name="2" placeholder="Data Uscita Console AAAA-DD-MM">
                <input type="number" name="3" min="0" min="1" placeholder="Supporto Console">
                <input type="text" name="4" placeholder="Compagnia della Console">
                <input type="number" name="5" placeholder="Generazione Console">
            </form>
        </div>
        <div class="queryform mx-auto" id="4">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Designer">
                <input type="text" name="2" placeholder="Cognome Designer">
                <input type="text" name="3" placeholder="Nazionalità Designer">
            </form>
        </div>
        <div class="queryform mx-auto" id="5">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Prodotto">
                <input type="number" name="2" placeholder="Anno Prodotto">
                <input type="text" name="3" placeholder="Nome Store">
                <input type="text" name="4" placeholder="Processore">
                <input type="text" name="5" placeholder="Scheda Grafica">
                <input type="text" name="6" placeholder="OS">
            </form>
        </div>
        <div class="queryform mx-auto" id="6">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Gioco">
                <input type="number" name="2" placeholder="Anno Gioco">
                <input type="text" name="3" placeholder="Nome Console">
            </form>
        </div>
        <div class="queryform mx-auto" id="7">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Software">
                <input type="number" name="2" placeholder="Anno Software">
                <input type="number" name="3" step=".01" min="0" placeholder="Prezzo">
                <input type="text" name="4" placeholder="Descrizione">
                <input type="text" name="5" placeholder="Produttore">
                <input type="text" name="6" placeholder="Sviluppatore">
                <input type="text" name="7" placeholder="Nome Categoria">
            </form>
        </div>
        <div class="queryform mx-auto" id="8">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Gioco">
                <input type="number" name="2" placeholder="Anno Gioco">
                <input type="number" name="3" step=".01" min="0" placeholder="Prezzo">
                <input type="text" name="4" placeholder="Descrizione">
                <input type="text" name="5" placeholder="Produttore">
                <input type="text" name="6" placeholder="Sviluppatore">
                <input type="text" name="7" placeholder="Saga">
                <input type="text" name="8" placeholder="ID Designer">
                <input type="text" name="9" placeholder="Nome Categoria">
            </form>
        </div> <!-- modifica fin qui -->
        <div class="queryform mx-auto" id="9">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Prodotto">
                <input type="number" name="2" placeholder="Anno Prodotto">
                <input type="text" name="3" placeholder="Nickname Utente">
                <input type="number" min="1" max="5" name="4" placeholder="Voto">
            </form>
        </div>
        <div class="queryform mx-auto" id="10">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Saga">
                <input type="text" name="2" placeholder="Descrizione Saga">
                <input type="number" min="0" max="1" name="3" placeholder="Stato">
                <input type="text" name="4" placeholder="Nome Gioco">
                <input type="number" name="5" placeholder="Anno Gioco">
            </form>
        </div>
        <div class="queryform mx-auto" id="11">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Store">
                <input type="text" name="2" placeholder="Nome Compagnia">
            </form>
        </div>
        <div class="queryform mx-auto" id="12">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nickname Utente">
            </form>
        </div>
        <div class="queryform mx-auto" id="13">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
            </form>
        </div>
        <div class="queryform mx-auto" id="14">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Categoria">
            </form>
        </div>
        <div class="queryform mx-auto" id="15">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
            </form>
        </div>
        <div class="queryform mx-auto" id="16">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
            </form>
        </div>
        <div class="queryform mx-auto" id="17">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
            </form>
        </div>
        <div class="queryform mx-auto" id="18">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Console">
            </form>
        </div>
        <div class="queryform mx-auto" id="19">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Store">
            </form>
        </div>
        <div class="queryform mx-auto" id="20">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
            </form>
        </div>
        <div class="queryform mx-auto" id="21">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
            </form>
        </div>
        <div class="queryform mx-auto" id="22">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
            </form>
        </div>
        <div class="queryform mx-auto" id="23">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Gioco">
                <input type="number" name="2" placeholder="Anno Gioco">
            </form>
        </div>
        <div class="queryform mx-auto" id="24">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
            </form>
        </div>
        <div class="queryform mx-auto" id="25">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Saga">
            </form>
        </div>
        <div class="queryform mx-auto" id="26">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
            </form>
        </div>
        <div class="queryform mx-auto" id="27">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
            </form>
        </div>
        <div class="queryform mx-auto" id="28">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Compagnia">
            </form>
        </div>
        <div class="queryform mx-auto" id="29">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Compagnia">
            </form>
        </div>
        <div class="queryform mx-auto" id="30">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nickname Utente">
            </form>
        </div>
        <div class="queryform mx-auto" id="31">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="number" min="1" max="5" name="1" placeholder="Voto">
                <input type="text" name="2" placeholder="Nome Gioco">
                <input type="number" name="3" placeholder="Anno Gioco">
                <input type="text" name="4" placeholder="Nickname Utente">
            </form>
        </div>
        <div class="queryform mx-auto" id="32">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="number" name="1" min="0" step=".01" placeholder="Nuovo Prezzo">
                <input type="text" name="2" placeholder="Nome Prodotto">
                <input type="number" name="3" placeholder="Anno Prodotto">
            </form>
        </div>
        <div class="queryform mx-auto" id="33">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Saga">
                <input type="text" name="2" placeholder="Nome Prodotto">
                <input type="number" name="3" placeholder="Anno Prodotto">
            </form>
        </div>
        <div class="queryform mx-auto" id="34">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Genere">
            </form>
        </div>
        <div class="queryform mx-auto" id="35">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Categoria">
            </form>
        </div>
        <div class="queryform mx-auto" id="36">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
            </form>
        </div>
        <div class="queryform mx-auto" id="37">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Compagnia">
            </form>
        </div>
        <div class="queryform mx-auto" id="38">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Compagnia">
            </form>
        </div>
        <div class="queryform mx-auto" id="39">
            <h1>Inserire una categoria</h1>
            <form action="/query" class="d-flex flex-column">
                <input type="text" name="1" placeholder="Nome Prodotto">
                <input type="number" name="2" placeholder="Anno Prodotto">
                <input type="text" name="3" placeholder="Nome Categoria">
            </form>
        </div>
        <form action="/query" method="POST" class="mx-auto col-md-12">
            <input type="text" name="query" id="stampoqui" hidden>
            <input type="submit" id="send" class="col-md-1 mx-auto" value="esegui">
        </form>
    </div>
  </body>
</html>